* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    align-items: center;
}
