.offer-box {
    width: 341px;
    height: 74.11px;
    border: 2px solid #e9e9e9;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    transition: height 0.25s ease, border-color 0.25s ease, background 0.25s ease;
    cursor: pointer;
}

.offer-box:hover {
    background-color: #FFF9FA;
}

.offer-box.active {
    min-height: 174px;
    height: auto;
    border-width: 2px;
    border-color: #FF6B82;
    background: #FFF9FA;
}

.popular-tag {
    position: absolute;
    right: 3.5px;
    top: -8px;
    background: #FF6B82;
    color: #fff;
    padding: 3px 10px;
    font-size: 11px;
    font-weight: 600;

    border-radius: 0 0 4px 4px;
    z-index: 3;
}

.popular-tag::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 7.5px solid #D7445B;
    border-left: 5px solid transparent;
}

.popular-tag::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 7.5px solid #D7445B;
    border-right: 5px solid transparent;
}

.offer-header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.radio-wrap {
    position: relative;
}

.radio-wrap input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.custom-radio {
    width: 16px;
    height: 16px;
    border: 2px solid #FF6B82;
    border-radius: 50%;
    display: inline-block;
}

.radio-wrap input:checked + .custom-radio {
    background: #FF6B82;
}

.offer-info {
    flex: 1;
}

.offer-line {
    display: flex;
    align-items: center;
    gap: 8px;
}

.units {
    font-size: 16px;
    font-weight: 600;
}

.discount-badge {
    background: #FF6B82;
    color: #fff;
    font-size: 11px;
    padding: 2px 6px;
}

.subtext {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

.price-info {
    text-align: right;
}

.price {
    font-size: 16px;
    font-weight: 600;
}

.old-price {
    font-size: 12px;
    color: #aaa;
    text-decoration: line-through;
}

.var-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.var-row span {
    margin: 8px;
    padding: 0;
    font-size: 10px;
}

.var-row select:first-of-type {
    margin-left: 0 !important;
}

.var-row select:last-of-type {
    margin-left: 10px;
}

.var-row select {
    margin: 0;
    padding: 0 4px;
    height: 25.3px;
    border: 0.9px solid #C8C8C8;
    border-radius: 1.8px;
    font-size: 10px;
}

.var-index {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

.var-select {
    width: 66px;
    height: 25.3px;
    border: 0.9px solid #C8C8C8;
    border-radius: 1.8px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    padding-left: 4px;
}

.delivery {
    color: #FF6B82;
    font-weight: 500;
}

.add-cart-btn {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FF6B82;
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.add-cart-btn > span {
    font-size: 25px;
    margin-right: 10px;
}