
.container {
    width: 100%;
    max-width: 341px;
}

.title-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #FF6B82;
    margin-bottom: 20px;
}

.title-header::before,
.title-header::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #e9e9e9;
}

.var-headers {
    display: grid;
    grid-template-columns: 25px 1fr 1fr;
    margin-bottom: 6px;
    padding-left: 10px;
}

.header-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 9.94px;
    line-height: 100%;
    color: #000;
}

.header-item:nth-child(1) { grid-column: 2; }
.header-item:nth-child(2) { grid-column: 3; }


.offer-body {
    margin-top: 15px;
    display: none;
}

.offer-box.active .offer-body {
    display: block;
    width: 60%;
    margin-left: 8%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;
    font-size: 14px;
}

.sponsor {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: end;
}

.sponsor > span {
    font-size: 12px;
    font-style: italic;
    color: gray;
}
