@media screen and (max-width: 390px) {
    .container {
        padding: 20px 10px;
        width: 100%;
        max-width: 100%;
    }

    .offer-box {
        width: 100%;
        min-width: unset;
        padding: 12px;
    }

    .offer-body {
        width: 100%;
        margin-left: 0;
    }

    .add-cart-btn {
        width: 100%;
        font-size: 14px;
        padding: 12px;
    }
}
