* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 420px;
}

.title {
    text-align: center;
    color: #FF6B82;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.offer-box {
    border: 1px solid #e9e9e9;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.offer-box:hover{
    background-color: #FFF9FA;
}

.offer-box.active {
    border-color: #FF6B82;
    background: #FFF9FA;
}

.popular-tag {
    position: absolute;
    right: -1px;
    top: -12px;
    background: #FF6B82;
    color: #fff;
    padding: 4px 10px;
    font-size: 11px;
    border-radius: 4px 4px 0 0;
}

.offer-header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.radio-wrap {
    position: relative;
}

.radio-wrap input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.custom-radio {
    width: 16px;
    height: 16px;
    border: 2px solid #FF6B82;
    border-radius: 50%;
    display: inline-block;
}

.radio-wrap input:checked + .custom-radio {
    background: #FF6B82;
}

.offer-info {
    flex: 1;
}

.offer-line {
    display: flex;
    align-items: center;
    gap: 8px;
}

.units {
    font-size: 16px;
    font-weight: 600;
}

.discount-badge {
    background: #FF6B82;
    color: #fff;
    font-size: 11px;
    padding: 2px 6px;
}

.subtext {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

.price-info {
    text-align: right;
}

.price {
    font-size: 16px;
    font-weight: 600;
}

.old-price {
    font-size: 12px;
    color: #aaa;
    text-decoration: line-through;
}

.offer-body {
    margin-top: 15px;
    display: none;
}

.offer-box.active .offer-body {
    display: block;
}

.var-row {
    display: grid;
    grid-template-columns: 30px 1fr 1fr;
    gap: 10px;
    margin-bottom: 12px;
}

select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;
    font-size: 14px;
}

.delivery {
    color: #FF6B82;
    font-weight: 500;
}

.add-cart-btn {
    width: 100%;
    background: #FF6B82;
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.sponsor{
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: end;
}
.sponsor>span {
    font-size: 12px;
    font-style: italic;
    color: gray;
}
